
@{
    ViewData["Title"] = "AspNetCoreView";
}

@*AspNetCoreView*@

<h1>WHAT´S ASP.NET CORE</h1>
<img src="~/images/AspNetCore.png" style="max-width:500px; max-height: 300px" alt="Asp.Net Core" class="img-responsive" /><br />
<p>
    ASP.NET Core is a free and open-source web framework, and the next generation of ASP.NET, developed by Microsoft and the community It is a modular framework that runs on both the full .NET Framework, on Windows, and the cross-platform .NET Core.
    The framework is a complete rewrite that unites the previously separate ASP.NET MVC and ASP.NET Web API into a single programming model.
    Despite being a new framework, built on a new web stack, it does have a high degree of concept compatibility with ASP.NET MVC. ASP.NET Core applications supports side by side versioning in which different applications, running on the same machine, can target different versions of ASP.NET Core. This is not possible with previous versions of ASP.NET.
</p>
<h2>FEATURES:</h2>
<ul>
    <li>No-compile developer experience (i.e. compilation is continuous, so that the developer does not have to invoke the compilation command)</li>
    <li>Modular framework distributed as NuGet packages</li>
    <li>Host-agnostic via Open Web Interface for .NET (OWIN) support - runs in IIS or standalone</li>
    <li>A unified story for building web UI and web APIs (i.e. both the same)</li>
    <li>A cloud-ready environment-based configuration system</li>
    <li>A light-weight and modular HTTP request pipeline</li>
    <li>Build and run cross-platform ASP.NET Core apps on Windows, Mac, and Linux</li>
    <li>Open-source and community-focused</li>
    <li>Side-by-side app versioning when targeting .NET Core.</li>
</ul>


