
@{
    ViewData["Title"] = "CommentsView";
}

@*CommentsView*@

<h3><strong>Post:</strong></h3>
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>