@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class=" col-sm-pull-10 text-center">
    <p>The information provided in this blog is not from my authorship but from sources.</p>
    <p><strong> Below are the links:</strong></p>
</div>
<p>https://www.docker.com</p>
<p>https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1</p>
<p>https://hub.docker.com/r/microsoft/dotnet/</p>
<p>https://hub.docker.com/r/microsoft/aspnetcore/ </p>
<p>https://hub.docker.com/r/microsoft/aspnetcore-build/ </p>
<p>https://hub.docker.com/r/microsoft/dotnet-framework/ </p>
<p>https://hub.docker.com/r/microsoft/aspnet/ </p>
<p>https://hub.docker.com/r/microsoft/dotnet-samples/</p>
<p>https://hub.docker.com/r/microsoft/dotnet-framework-samples/</p>
<p>https://docs.docker.com/engine/reference/builder/</p>
<p>https://hub.docker.com/r/microsoft/dotnet/tags/</p>
<p>https://github.com/dotnet/announcements/issues/14</p>
<p>https://hub.docker.com/r/microsoft/dotnet-framework/tags/</p>
<p>https://blogs.msdn.microsoft.com/dotnet/2017/05/09/net-core-may-2017-update/</p>
<p>https://hub.docker.com/_/debian/</p>
<p>http://2017.dockercon.com/</p>
<p>https://www.youtube.com/embed/YVfiK72Il5A</p>
<p>https://blog.docker.com/2016/12/convert-asp-net-web-servers-docker-image2docker/</p>
<p>https://www.docker.com/community-edition</p>
<p>https://hub.docker.com/</p>
<p>https://store.docker.com/</p>
<p>https://www.docker.com/what-container</p>
