@{
    ViewData["Title"] = "My profile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron">
    <center> <img src="~/images/photo.png" style="max-width: 500px; max-height: 300px" alt="photo" class="img-circle" /></center><br />
    <p>Study programming at the regional UTN Haedo since 2014 and currently I have two subjects to receive me. I am also doing a German course at UnLaM (National University of La Matanza).</p>
    <p>I am a simple person, calm, and very capable.</p>
    <p>
        I work in the area of ​​software development as junior .Net in the company Levin Software located in the neighborhood of Almagro (caba).
        I like new challenges and absorb new knowledge.
    </p>
</div>

<address>
    false street 123<br />
    Bs AS - Argentina<br />
    <abbr title="Phone">Phone:</abbr>
    11.2222.3333
</address>

<address>
    <strong><span class="glyphicons glyphicons-envelope">Email:</span></strong> <a href="azarim23@gmail.com">NombreCorreo@gmail.com</a>
</address>
